In [1]:
import numpy as np
import pandas as pd
import random
from datetime import datetime

# Using some Twitter data
It can be downloaded here: https://www.isi.edu/~lerman/downloads/twitter/twitter2010.html

In [2]:
# some lines in the data set are broken, let's ignore them
df = pd.read_csv("./data/link_status_search_with_ordering_real.csv", sep=',', error_bad_lines=False, nrows=500000)
df['datetime'] = pd.to_datetime(df.create_at_long, unit='ms')

Skipping line 153859: expected 11 fields, saw 12

Skipping line 431580: expected 11 fields, saw 12
Skipping line 431962: expected 11 fields, saw 12

Skipping line 498662: expected 11 fields, saw 12

In [3]:
df.head()

,link,id,create_at,create_at_long,inreplyto_screen_name,inreplyto_user_id,source,bad_user_id,user_screen_name,order_of_users,user_id,datetime
0,http://gd.is/4nfm,25435023138,2010-09-24 00:00:00,1285358980000,\N,-1,"<a href=""http://mobile.twitter.com"" rel=""nofol...",119586070,barra_fake,616,147240385,2010-09-24 20:09:40
1,http://gd.is/4nfm,25439610259,2010-09-24 00:00:00,1285363164000,\N,-1,"<a href=""http://mobile.twitter.com"" rel=""nofol...",119586070,barra_fake,652,147240385,2010-09-24 21:19:24
2,http://is.gd/f4wDA,25444403307,2010-09-24 00:00:00,1285367458000,\N,-1,"<a href=""http://tinyurl.com/3xakwys"" rel=""nofo...",119586070,barra_fake,3009,147240385,2010-09-24 22:30:58
3,http://is.gd/f4wDA,25451679785,2010-09-24 00:00:00,1285373674000,\N,-1,"<a href=""http://tinyurl.com/3xakwys"" rel=""nofo...",119586070,barra_fake,3182,147240385,2010-09-25 00:14:34
4,http://lc4.in/2KAJ,25446362980,2010-09-24 00:00:00,1285369191000,\N,-1,"<a href=""http://www.apple.com"" rel=""nofollow"">...",119586070,barra_fake,4580,147240385,2010-09-24 22:59:51

In [4]:
def summarize_user(user_data):
    norm_dates = user_data.datetime.dt.normalize()
    ndays_length = (norm_dates.max() - norm_dates.min()).days + 1
    ndays_act = norm_dates.nunique()
    return pd.Series({'n_tweets': len(user_data),
                      'n_days':ndays_act,
                      'n_links': user_data.link.nunique()
                     })

In [5]:
print datetime.now()
summary = df.groupby('user_id').apply(summarize_user)
print datetime.now()

2018-05-06 12:30:55.824737
2018-05-06 12:31:36.534451

In [6]:
summary

           n_days  n_links  n_tweets
user_id
917             1        1         2
951             1        1         1
978             1        1         1
1047            1        1         1
1186            1        1         1
1317            1        1         1
1501            2        2         2
1503            1        1         1
1546            1        1         1
2179            1        1         1
2796            2        2         2
3310            1        1         1
3319            1        1         1
3365            1        1         1
3409            1        1         1
3839            1        1         1
4309            1        1         1
4375            1        1         1
4424            1        1         1
4578            1        1         1
4615            1        1         1
4726            1        1         1
4734            1        1         1
4799            1        1         1
5118            1        1         1
5880            1        1         1
7094            1        1         1
7512            1        1         1
9497            1        1         1
10237           1        1         1
...           ...      ...       ...
217186225       6        7        17
217204749       3        3         3
217205467       2        2         2
217455111       1        1         1
217470539       1        1         1
217499292       2        3         3
217508089       1        1         1
217600508       6        6        11
217802483       1        1         2
217823745       2        4        19
217882480       1        1         1
217978454       1        1         1
217979281       2        2         2
218141399       6        1       173
218530943       2        1         3
218536979       2        2         2
218574793       1        1         1
218688515       1        2         2
218689374       1        2         2
218915709       1        1         1
218961133       3        5         8
218972579       3        1         6
218982033       2        1         4
219007149       1        5         8
219079665       1        2         3
219099996       1        1         2
219127113       2        3         8
219233092       2        8        19
219332168       8        8       139
219452271       2        2         3

[36124 rows x 3 columns]

In [7]:
import ipyparallel as ip

In [8]:
client = ip.Client()
dview = client.direct_view()

/usr/local/lib/python2.7/site-packages/ipyparallel/util.py:208: RuntimeWarning: IPython could not determine IPs for tux.local: [Errno 8] nodename nor servname provided, or not known
  RuntimeWarning)
/usr/local/lib/python2.7/site-packages/ipyparallel/client/client.py:458: RuntimeWarning:
            Controller appears to be listening on localhost, but not on this machine.
            If this is true, you should specify Client(...,sshserver='you@tux.local')
            or instruct your controller to listen on an external IP.
  RuntimeWarning)

In [9]:
users = np.array_split(df.user_id.unique(), 4)
dfs = [df[df.user_id.isin(_)] for _ in users]
dview.scatter('data', dfs)

In [10]:
%%px --block
import sys
import numpy as np
import pandas as pd

In [11]:
%%px
def summarize_user(user_data):
    norm_dates = user_data.datetime.dt.normalize()
    ndays_length = (norm_dates.max() - norm_dates.min()).days + 1
    ndays_act = norm_dates.nunique()
    return pd.Series({'n_tweets': len(user_data),
                      'n_days':ndays_act,
                      'n_links': user_data.link.nunique()
                     })

In [12]:
print datetime.now()

2018-05-06 12:31:42.585878

In [13]:
%%px
df = data[0]
user_summary = df.groupby('user_id').apply(summarize_user)

In [14]:
%pxresult

In [15]:
summary  = pd.concat(dview.gather('user_summary').get())

In [16]:
print datetime.now()

2018-05-06 12:32:02.252318

In [17]:
summary

           n_days  n_links  n_tweets
user_id
1186            1        1         1
285903          1        1         1
769594          1        1         1
774292          1        2         2
818377          1        1         1
945451          1        1         1
1046661         1        2         2
1649981         1        1         1
2015141         1        1         1
2044691         1        1         1
2722181         3        3         3
2760141         1        1         2
2822851         1        1         1
3348951         1        1         8
3812691         1        1        10
3906851         2        2         2
4854341         1        1         1
5173651         1        1         1
5244591         2        4         4
5393552         2        2         2
5464102         1        1         1
5554202         1        1         1
5691302         1        1         1
5697472         1        1         3
5756352         3        3         4
5885422         1        1         1
5994842         1        1         1
6107732         1        1         6
6320592         1        1         1
6397932         1        1         1
...           ...      ...       ...
210308924       1        1         1
210650909       1        1         1
210909462       1        1         1
210944116       1        1         1
211165689       2        2         2
211387868       1        1         1
211545620       2        3         3
211925363       1        3         3
212513088       1        1         1
212645857       3        6        11
213046471       3        2         8
213168121       3        5         5
213214224       1        1         2
213820102       1        1         1
213872184       3        4         4
214116587       1        1         1
214570313       1        1         1
214695922       1        7         7
215297346       1        1         1
215362945       1        1         1
215394852       1        1         1
216068012       8        6        98
216428821       3        4         6
216445670       1        1         1
216458349       5        7        12
216822329       1        1         2
217499292       2        3         3
218982033       2        1         4
219127113       2        3         8
219452271       2        2         3

[36124 rows x 3 columns]